.sidebar {
    background-color: rgb(24, 26, 29) !important;
    position: fixed;
    top: 0px;
    bottom: 0;
    width: 250px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.main-content {
    height: 100vh;
}

.nav-link .bi-person-circle {
    color: rgb(172, 172, 179);
    font-size: 2.5rem !important;
}

.profileImage {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profileImage .bi-person-circle {
    color: rgb(172, 172, 179);
    font-size: 6.5rem !important;
}

.nav-link .bi-person-circle:hover {
    color: white;
}

.navbar-nav .nav-item {
    color: rgb(172, 172, 179);
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 0.5rem;
    border-radius: 16px;
}

.sidebar .nav-item:hover {
    background-color: #31353c;
}

.offcanvas-body {
    padding: none !important;
}

.sidebar .nav-link:hover {
    color: white;
}

.sidebar .nav-link {
    transition: none;
}

.navbar-brand {
    padding-left: 0.5rem;
}

.nav-item-group {
    display: inline-flex;
    align-items: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.sidebar .bi,
.navbar-brand {
    padding-right: 0.5rem;
}

.orderProductImage {
    font-size: 4rem;
}

.orderProductImage {
    min-width: 4rem;
    min-height: 4rem;
    object-fit: cover;
    color: rgb(136, 136, 136);
}

.sidebar .nav-item:hover {
    color: white;
}

.orderProductQuantity {
    width: 75px;
}

.navbar {
    color: white;
    margin-left: 250px;
    border-bottom: 1px solid #e6e6e6;
}

.dashboard-section {
    background-color: white;
    border: 1px solid #e6e6e6;
    padding: 1.5rem;
    border-radius: 1rem;
    flex-grow: 1;
}

.metric-bar-element-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1.4rem;
    height: 100%;
}

.metric-bar-x-axis {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
}

.metric-bar-y-axis {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 4rem;
    margin-top: 0.6rem;
    padding-bottom: 40px;
}

.metric-bar-x-axis-item {
    min-width: 5.5rem;
    text-align: center;
}

.metric-bar-element {
    align-content: end;
}

.metric-bar {
    height: calc(200px - 15px);
    background-color: #57a860;
    width: 5.5rem;
}

.graph-metric-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
}

.topCategorySalesGraph {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
}

.addButton {
    height: 38px;
    display: flex;
    align-items: center;
}

.offcanvas .btn-close {
    filter: invert(1);
}

.sidebar {
    width: 220px !important;
}

.offcanvasSidebar {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    padding-top: 1rem;
    height: 100%;

}

.products-content,
.orders-content,
.categories-content {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
}

.offcanvasSidebarToggle {
    display: none;
}

.dropdown-menu {
    z-index: 1050;
}

.btn-dark {
    background-color: #181a1d;
    border-color: #181a1d;
}

.btn-outline-dark {
    border-color: #181a1d;
    color: #181a1d;
}

.btn {
    border-radius: 16px !important;
}

.dropdown-item:focus {
    background-color: inherit !important;
    color: inherit;
}

.search-box {
    background-color: #ebebeb;
    border-radius: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.search-box .form-control {
    background: none !important;
    border: none !important;
}

.search-box .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

@media (max-width: 1130px) {
    .sidebar {
        display: none;
    }

    .offcanvasSidebar {
        display: flex;
    }

    .navbar {
        margin-left: 0px;
    }

    .offcanvasSidebarToggle {
        display: block;
    }

    .content {
        margin-left: 0;
    }
}