<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inventory - Categories</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container-fluid p-0">

        <!-- Offcanvas sidebar -->
        <div class="sidebar offcanvasSidebar p-4 offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar"
            aria-labelledby="offcanvasSidebarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <a class="navbar-brand fs-2 text-white" href="/dashboard">Inventory</a>
            <div class="d-flex justify-content-between flex-column h-100">
                <ul class="navbar-nav pt-3">
                    <li class="nav-item">
                        <a class="nav-item-group" href="/dashboard">
                            <i class="bi bi-grid"></i>
                            <span class="nav-link">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/products">
                            <i class="bi bi-box"></i>
                            <span class="nav-link">Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/categories">
                            <i class="bi bi-folder"></i>
                            <span class="nav-link">Categories</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/orders">
                            <i class="bi bi-cart"></i>
                            <span class="nav-link">Orders</span>
                        </a>
                    </li>
                </ul>

                <div class="d-flex justify-content-center">
                    <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-circle pe-0"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" class="dropdown-item" value="Logout">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main sidebar -->
        <div class="sidebar p-4">
            <a class="navbar-brand fs-2 text-white" href="/dashboard">Inventory</a>

            <div class="d-flex justify-content-between flex-column h-100">
                <ul class="navbar-nav pt-3">
                    <li class="nav-item">
                        <a class="nav-item-group" href="/dashboard">
                            <i class="bi bi-grid"></i>
                            <span class="nav-link">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/products">
                            <i class="bi bi-box"></i>
                            <span class="nav-link">Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/categories">
                            <i class="bi bi-folder"></i>
                            <span class="nav-link">Categories</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/orders">
                            <i class="bi bi-cart"></i>
                            <span class="nav-link">Orders</span>
                        </a>
                    </li>
                </ul>

                <div class="d-flex justify-content-center">
                    <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-circle pe-0"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" class="dropdown-item" value="Logout">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="content flex-grow-1 p-4 bg-body-tertiary">
                <div class="d-flex gap-3 align-items-start">
                    <button class="btn btn-outline-secondary offcanvasSidebarToggle" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar"
                        id="sidebarToggle">
                        <i class="bi bi-list"></i>
                    </button>
                    <h2 class="pb-3"
                        th:text="${searchResults} ? ('Search results for ' + ${searchQuery} + ' (' + ${searchResults.size()} + ')') : ('Categories' + ' (' + ${categories.size()} + ')')">
                    </h2>
                </div>

                <div class="categories-content bg-white rounded-4 p-4">
                    <div class="d-flex justify-content-between gap-3 align-items-center">
                        <div class="search-box">
                            <div class="d-flex align-items-center">
                                <form th:action="@{/categories}" method="post" class="d-flex">
                                    <button type="submit" class="btn px-0" name="searchCategories">
                                        <i class="bi bi-search"></i>
                                    </button>
                                    <input type="text" class="form-control" name="searchQuery" id="searchQuery"
                                        placeholder="Search">
                                </form>
                            </div>
                        </div>

                        <button type="button" class="btn btn-dark addButton" data-bs-toggle="modal"
                            data-bs-target="#addCategoryModal" name="addCategoryBtn" id="addCategoryBtn">
                            <div>
                                <span>+</span>
                                <span>Create Category</span>
                            </div>
                        </button>
                    </div>

                    <div th:if="${categories.size() > 0}" class="table-responsive mt-4">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Updated</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="category : ${searchResults == null ? categories : searchResults }">
                                    <td>
                                        <span th:text="${category.id}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${category.name}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${category.description}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${category.createdAt}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${category.updatedAt}"></span>
                                    </td>

                                    <td>
                                        <div class="dropstart">
                                            <button class="btn" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <button type="button" class="dropdown-item" th:onclick="                                        
                                                        getCategory([[${category}]])" data-bs-toggle="modal"
                                                        data-bs-target="#editCategoryModal">
                                                        Edit
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" class="dropdown-item text-danger"
                                                        data-bs-toggle="modal"
                                                        th:onclick="getCategoryId([[${category.id.toString()}]])"
                                                        data-bs-target="#deleteCategoryModal">
                                                        Delete
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:if="${categories.size() == 0}" class="text-center h-100 align-content-center">
                        <h3 class="text-secondary">No categories found.</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Toast -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body" id="toast-message"></div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">
                    </button>
                </div>
            </div>
        </div>

        <!-- Add Category Modal -->
        <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
            aria-hidden="true" th:classappend="${showAddModal} ? 'show' : ''">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addCategoryModalLabel">Create Category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form th:action="@{/categories}" th:object="${newCategory}" method="post">
                        <div class="modal-body d-flex flex-column gap-3">
                            <div class="form-group">
                                <label for="newCategoryName">Name</label>
                                <input type="text" class="form-control" name="newCategoryName" th:field="*{name}"
                                    id="newCategoryName" required maxlength="50">
                                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newCategoryDescription">Description</label>
                                <input type="text" class="form-control" name="newCategoryDescription"
                                    th:field="*{description}" id="newCategoryDescription" maxlength="200">
                                <div class="text-danger" th:if="${#fields.hasErrors('description')}"
                                    th:errors="*{description}">Description
                                    Error
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-dark" name="createCategory">Create</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Edit Category Modal -->
        <div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel"
            aria-hidden="true" th:classappend="${showEditModal} ? 'show' : ''">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editCategoryModalLabel">Edit Category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form id="editCategoryForm" th:action="@{/categories}" th:object="${editedCategory}" method="post">
                        <div class="modal-body d-flex flex-column gap-3">
                            <input type="hidden" th:field="*{id}" id="editCategoryId" />

                            <div class="form-group">
                                <label for="editCategoryName">Name</label>
                                <input type="text" class="form-control" name="editCategoryName" id="editCategoryName"
                                    th:field="*{name}" maxlength="50" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                    Error</div>
                            </div>

                            <div class="form-group">
                                <label for="editCategoryDescription">Description</label>
                                <input type="text" class="form-control" name="editCategoryDescription"
                                    id="editCategoryDescription" th:field="*{description}" maxlength="200">
                                <div class="text-danger" th:if="${#fields.hasErrors('description')}"
                                    th:errors="*{description}">Description
                                    Error
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-dark" name="editCategory"
                                id="saveChangesButton">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Delete Category Modal -->
        <div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteCategoryModalLabel">Delete Category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/categories}" method="post">
                        <div class="modal-body d-flex flex-column gap-3">
                            Are you sure you want to delete this category?
                            <input hidden name="deleteCategoryId" id="deleteCategoryId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" name="deleteCategory">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    <script th:inline="javascript">
        const toastTrigger = document.getElementById('liveToastBtn');
        const toastLiveExample = document.getElementById('liveToast');
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
        const toastMessage = document.getElementById("toast-message");

        let action = /*[[${message}]]*/ '';
        if (action !== null) {
            switch (action) {
                case 'addCategory':
                    toastMessage.innerText = "Added new category.";
                    break;
                case 'noItemsInCategory':
                    toastMessage.innerText = "Could not create category.";
                    break;
                case 'editCategory':
                    toastMessage.innerText = "Saved category changes.";
                    break;
                case 'deleteCategory':
                    toastMessage.innerText = "Deleted category.";
                    break;
                case 'existingCategory':
                    toastMessage.innerText = "Category already exists.";
                    break;
                default:
                    break;
            }
            toastBootstrap.show()
        }
    </script>
</body>

</html>