<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inventory - Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container-fluid p-0">

        <!-- Offcanvas sidebar -->
        <div class="sidebar offcanvasSidebar p-4 offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar"
            aria-labelledby="offcanvasSidebarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <a class="navbar-brand fs-2 text-white" href="/dashboard">Inventory</a>
            <div class="d-flex justify-content-between flex-column h-100">
                <ul class="navbar-nav pt-3">
                    <li class="nav-item">
                        <a class="nav-item-group" href="/dashboard">
                            <i class="bi bi-grid"></i>
                            <span class="nav-link">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/products">
                            <i class="bi bi-box"></i>
                            <span class="nav-link">Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/categories">
                            <i class="bi bi-folder"></i>
                            <span class="nav-link">Categories</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/orders">
                            <i class="bi bi-cart"></i>
                            <span class="nav-link">Orders</span>
                        </a>
                    </li>
                </ul>

                <div class="d-flex justify-content-center">
                    <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-circle pe-0"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" class="dropdown-item" value="Logout">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main sidebar -->
        <div class="sidebar p-4">
            <a class="navbar-brand fs-2 text-white" href="/dashboard">Inventory</a>

            <div class="d-flex justify-content-between flex-column h-100">
                <ul class="navbar-nav pt-3">
                    <li class="nav-item">
                        <a class="nav-item-group" href="/dashboard">
                            <i class="bi bi-grid"></i>
                            <span class="nav-link">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/products">
                            <i class="bi bi-box"></i>
                            <span class="nav-link">Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/categories">
                            <i class="bi bi-folder"></i>
                            <span class="nav-link">Categories</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-group" href="/orders">
                            <i class="bi bi-cart"></i>
                            <span class="nav-link">Orders</span>
                        </a>
                    </li>
                </ul>

                <div class="d-flex justify-content-center">
                    <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-circle pe-0"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" class="dropdown-item" value="Logout">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="content flex-grow-1 p-4 bg-body-tertiary">
                <div class="d-flex gap-3 align-items-start">
                    <button class="btn btn-outline-secondary offcanvasSidebarToggle" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar"
                        id="sidebarToggle">
                        <i class="bi bi-list"></i>
                    </button>
                    <h2 class="pb-3"
                        th:text="${searchResults} ? ('Search results for ' + ${searchQuery} + ' (' + ${searchResults.size()} + ')') : ('Products' + ' (' + ${products.size()} + ')')">
                    </h2>
                </div>

                <div class="products-content bg-white rounded-4 p-4">
                    <div class="d-flex justify-content-between gap-3 align-items-center">
                        <div class="search-box">
                            <div class="d-flex align-items-center">
                                <form th:action="@{/products}" method="post" class="d-flex">
                                    <button type="submit" class="btn px-0" name="searchProducts">
                                        <i class="bi bi-search"></i>
                                    </button>
                                    <input type="text" class="form-control" name="searchQuery" id="searchQuery"
                                        placeholder="Search">
                                </form>
                            </div>
                        </div>

                        <button type="button" class="btn btn-dark addButton" data-bs-toggle="modal"
                            data-bs-target="#addProductModal" name="addProductBtn" id="addProductBtn">
                            <div>
                                <span>+</span>
                                <span>Create Product</span>
                            </div>
                        </button>
                    </div>

                    <div th:if="${products.size() > 0}" class="table-responsive mt-4">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">SKU</th>
                                    <th scope="col">Dated Added</th>
                                    <th scope="col">Last Updated</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="product : ${searchResults == null ? products : searchResults }">
                                    <td>
                                        <span th:text="${product.id}"></span>
                                    </td>
                                    <td>
                                        <div class="orderProductImage">
                                            <i class="bi bi-image d-flex orderProductIcon"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <span th:text="${product.name}"></span>
                                    </td>
                                    <td>
                                        <span th:text="'$' + ${product.price}"></span>
                                    </td>
                                    <td>
                                        <span th:each="category : ${categories}"
                                            th:if="${category.id == product.categoryId}" th:text="${category.name}">
                                        </span>
                                    </td>
                                    <td>
                                        <span th:text="${product.quantity}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${product.SKU}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${product.createdAt}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${product.updatedAt}"></span>
                                    </td>

                                    <td>
                                        <div class="dropstart">
                                            <button class="btn" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <button type="button" class="dropdown-item"
                                                        th:onclick="getProduct([[${product}]], [[${product.id.toString()}]])"
                                                        data-bs-toggle="modal" data-bs-target="#editProductModal">
                                                        Edit
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" class="dropdown-item text-danger"
                                                        data-bs-toggle="modal"
                                                        th:onclick="getProductId([[${product.id.toString()}]])"
                                                        data-bs-target="#deleteProductModal">
                                                        Delete
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:if="${products.size() == 0}" class="text-center align-content-center h-100">
                        <h3 class="text-secondary">No products found.</h3>
                    </div>

                </div>
            </div>
        </div>

        <!-- Toast -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body" id="toast-message"></div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">
                    </button>
                </div>
            </div>
        </div>

        <!-- Add Product Modal -->
        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
            aria-hidden="true" th:classappend="${showAddModal} ? 'show' : ''">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addProductModalLabel">Create Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form th:action="@{/products}" th:object="${newProduct}" method="post">
                        <div class="modal-body d-flex flex-column gap-3">
                            <div class="form-group">
                                <label for="newProductName">Name</label>
                                <input type="text" class="form-control" name="newProductName" th:field="*{name}"
                                    id="newProductName" maxlength="100">
                                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                    Error</div>
                            </div>
                            <div class="form-group">
                                <label for="newProductPrice">Price</label>
                                <input type="number" step="1" class="form-control" name="newProductPrice"
                                    th:field="*{price}" id="newProductPrice" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                                    Price Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newProductCategory">Category</label>
                                <select class="form-select" name="newProductCategory" th:field="*{categoryId}"
                                    aria-label="Select Category">
                                    <option th:if="${categories != null}" th:value="${'None'}" th:text="${'None'}">
                                    </option>
                                    <option th:if="${categories}" th:each="category : ${categories}"
                                        th:value="${category.id}" th:text="${category.name}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('categoryId')}"
                                    th:errors="*{categoryId}">Category Error</div>
                            </div>
                            <div class="form-group">
                                <label for="newProductQuantity" class="w-100">
                                    Quantity
                                    <input type="number" class="form-control" name="newProductQuantity"
                                        th:field="*{quantity}" id="newProductQuantity" required>
                                    <div class="text-danger" th:if="${#fields.hasErrors('quantity')}"
                                        th:errors="*{quantity}">Quantity Error</div>
                            </div>
                            <div class="form-group">
                                <label for="newProductSKU">SKU</label>
                                <input type="text" class="form-control" name="newProductSKU" th:field="*{SKU}"
                                    id="newProductSKU" required maxlength="100">
                                <div class="text-danger" th:if="${#fields.hasErrors('SKU')}" th:errors="*{SKU}">SKU
                                    Error</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-dark" name="createProduct">Create</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Edit Product Modal -->
        <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel"
            aria-hidden="true" th:classappend="${showEditModal} ? 'show' : ''">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editProductModalLabel">Edit Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form th:action="@{/editProduct}" th:object="${editedProduct}" method="post">
                        <div class="modal-body d-flex flex-column gap-3">
                            <input type="hidden" th:field="*{id}" id="editProductId" />
                            <input type="hidden" th:field="*{userId}" id="editProductUserId" />
                            <input type="hidden" th:field="*{images}" id="editProductImages" />
                            <input type="hidden" th:field="*{createdAt}" id="editProductCreatedAt" />
                            <div class="form-group">
                                <label for="editProductName">Name</label>
                                <input type="text" class="form-control" name="editProductName" id="editProductName"
                                    th:field="*{name}" required maxlength="100">
                                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                    Error</div>
                            </div>
                            <div class="form-group">
                                <label for="editProductPrice">Price</label>
                                <input type="number" step="1" class="form-control" name="editProductPrice"
                                    id="editProductPrice" th:field="*{price}" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                                    Price
                                    Error</div>
                            </div>
                            <div class="form-group">
                                <label for="editProductCategory">Category</label>
                                <select class="form-select" name="editProductCategory" id="editProductCategory"
                                    th:field="*{categoryId}" aria-label="Select Category">
                                    <option th:if="${categories}" th:value="${'None'}" th:text="${'None'}">
                                    <option th:each="category : ${categories}" th:value="${category.id}"
                                        th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editProductQuantity">Quantity</label>
                                <input type="number" class="form-control" name="editProductQuantity"
                                    id="editProductQuantity" th:field="*{quantity}" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('quantity')}"
                                    th:errors="*{quantity}">Price Error</div>
                            </div>
                            <div class="form-group">
                                <label for="editProductSKU">SKU</label>
                                <input type="text" class="form-control" name="editProductSKU" id="editProductSKU"
                                    th:field="*{SKU}" required maxlength="100">
                                <div class="text-danger" th:if="${#fields.hasErrors('SKU')}" th:errors="*{SKU}">Price
                                    Error</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-dark" name="editProduct"
                                id="saveChangesButton">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Delete Product Modal -->
        <div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editProductModalLabel">Delete Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/products}" method="post">
                        <div class="modal-body d-flex flex-column gap-3">
                            Are you sure you want to delete this product?
                            <input hidden name="deleteProductId" id="deleteProductId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" name="deleteProduct">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    <script th:inline="javascript">
        const toastTrigger = document.getElementById('liveToastBtn');
        const toastLiveExample = document.getElementById('liveToast');
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
        const toastMessage = document.getElementById("toast-message");

        let action = /*[[${message}]]*/ '';
        if (action !== null) {
            switch (action) {
                case 'addProduct':
                    toastMessage.innerText = "Added new product.";
                    break;
                case 'editProduct':
                    toastMessage.innerText = "Saved product changes.";
                    break;
                case 'deleteProduct':
                    toastMessage.innerText = "Deleted product.";
                    break;
                case 'existingProduct':
                    toastMessage.innerText = "Product already exists.";
                    break;
                default:
                    break;
            }
            toastBootstrap.show()
        }
    </script>
</body>

</html>