<!DOCTYPE html>

<head>
    <title>Inventory - Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <!-- Offcanvas sidebar -->
    <div class="sidebar offcanvasSidebar p-4 offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar"
        aria-labelledby="offcanvasSidebarLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <a class="navbar-brand fs-2 text-white" href="/dashboard">Inventory</a>
        <div class="d-flex justify-content-between flex-column h-100">
            <ul class="navbar-nav pt-3">
                <li class="nav-item">
                    <a class="nav-item-group" href="/dashboard">
                        <i class="bi bi-grid"></i>
                        <span class="nav-link">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-group" href="/products">
                        <i class="bi bi-box"></i>
                        <span class="nav-link">Products</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-group" href="/categories">
                        <i class="bi bi-folder"></i>
                        <span class="nav-link">Categories</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-group" href="/orders">
                        <i class="bi bi-cart"></i>
                        <span class="nav-link">Orders</span>
                    </a>
                </li>
            </ul>

            <div class="d-flex justify-content-center">
                <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-person-circle pe-0"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="dropdown-item" value="Logout">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Main sidebar -->
    <div class="sidebar p-4">
        <a class="navbar-brand fs-2 text-white" href="/dashboard">Inventory</a>

        <div class="d-flex justify-content-between flex-column h-100">
            <ul class="navbar-nav pt-3">
                <li class="nav-item">
                    <a class="nav-item-group" href="/dashboard">
                        <i class="bi bi-grid"></i>
                        <span class="nav-link">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-group" href="/products">
                        <i class="bi bi-box"></i>
                        <span class="nav-link">Products</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-group" href="/categories">
                        <i class="bi bi-folder"></i>
                        <span class="nav-link">Categories</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-group" href="/orders">
                        <i class="bi bi-cart"></i>
                        <span class="nav-link">Orders</span>
                    </a>
                </li>
            </ul>

            <div class="d-flex justify-content-center">
                <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-person-circle pe-0"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="dropdown-item" value="Logout">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="content flex-grow-1 p-4 bg-body-tertiary">
            <div class="d-flex gap-3 align-items-start">
                <button class="btn btn-outline-secondary offcanvasSidebarToggle" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar"
                    id="sidebarToggle">
                    <i class="bi bi-list"></i>
                </button>
                <h2 class="pb-3">Your Profile</h2>
            </div>

            <div class="products-content bg-white p-4 rounded-4">
                <form th:action="@{/profile/update}" th:object="${user}" method="post"
                    class="d-flex flex-column gap-3 h-100" id="profileForm">
                    <input type="hidden" th:field="*{role}">
                    <input type="hidden" th:field="*{id}">

                    <div class="profileImage">
                        <i class="bi bi-person-circle"></i>
                        <div class=" d-flex flex-column flex-grow-1">
                            Upload new image
                            <input class="form-control" type="file" id="profilePhoto" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="emailField">
                            <label for="emailInput">Email</label>
                            <input class="form-control" type="email" id="emailInput" th:field="*{email}" name="email"
                                maxlength="50" required />
                        </div>
                        <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>

                    <div class="form-group">
                        <div id="firstNameField">
                            <label for="firstNameInput">First Name</label>
                            <input class="form-control" type="text" id="firstNameInput" th:field="*{firstName}"
                                name="firstName" required maxlength="50" />
                        </div>
                        <div class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="lastNameField">
                            <label for="lastNameInput">Last Name</label>
                            <input class="form-control" type="text" id="lastNameInput" th:field="*{lastName}"
                                name="lastName" required maxlength="50" />
                        </div>
                        <div class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                    </div>

                    <div id="newPasswordInputs" class="my-3">
                        <div class="d-flex flex-column gap-3">
                            <div class="position-relative">
                                <label for="passwordMatchProfile">New Password</label>
                                <div class="position-relative">
                                    <input class="form-control" type="password" name="newPassword" id="newPassword"
                                        th:field="*{newPassword}" autocomplete="new-password" minlength="8"
                                        maxlength="100" />
                                    <i class="bi bi-eye" id="newPasswordDisplayToggle"
                                        style="position: absolute; right: 0.75rem; top: 0.375rem; cursor: pointer;"></i>
                                </div>
                                <div class="text-danger" th:if="${#fields.hasErrors('newPassword')}"
                                    th:errors="*{newPassword}">
                                    Password Error
                                </div>
                            </div>
                            <div class="position-relative">
                                <label for="confirmPasswordMatch">Confirm New Password</label>
                                <div class="position-relative">
                                    <input class="form-control" type="password" value="" name="confirmPassword"
                                        id="confirmPassword" minlength="8" maxlength="100" />
                                    <i class="bi bi-eye" id="confirmPasswordDisplayToggle"
                                        style="position: absolute; right: 0.75rem; top: 0.375rem; cursor: pointer;"></i>
                                </div>
                                <span id="passwordMatchMessage" class="text-danger" hidden>Passwords must match</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="passwordField" class="position-relative">
                            <label for="passwordInput">Current Password</label>
                            <div class="position-relative">
                                <input class="form-control" type="password" id="password" name="password"
                                    autocomplete="new-password" th:field="*{password}" required minlength="8"
                                    maxlength="100" />
                                <i class="bi bi-eye" id="passwordDisplayToggle"
                                    style="position: absolute; right: 0.75rem; top: 0.375rem; cursor: pointer;"></i>
                            </div>
                            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                Password Error
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between flex-column">
                        <div id="saveChangesButtons">
                            <div class="d-flex gap-3">
                                <button type="button" name="cancelButton" id="cancelButton"
                                    class="btn btn-outline-dark w-100">
                                    Cancel
                                </button>
                                <button type="submit" name="submitButton" id="submitButton" class="btn btn-dark w-100">
                                    Save changes
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="toast-message"></div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    <script th:inline="javascript">
        let action = /*[[${message}]]*/ '';

        const toastTrigger = document.getElementById('liveToastBtn');
        const toastLiveExample = document.getElementById('liveToast');
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
        const toastMessage = document.getElementById("toast-message");

        if (action !== null) {
            if (action === 'saveProfile') {
                toastMessage.innerText = "Saved profile.";
            }
            toastBootstrap.show()
        }

    </script>
</body>

</html>